:root {
  --background: #1c1c22;
  --foreground: #ededed;
  --gradient-green-1: #0a192f;
  --gradient-green-2: #112240;
  --gradient-green-3: #1a3a5f;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c22;
    --foreground: #ededed;
  }
}

/* <--- For Swiper ---> */

.swiper {
  transition: all 0.35s ease;
}

@media (hover: hover) and (pointer: fine) {
  .swiper:hover {
    box-shadow: 0 0 35px -8px rgba(34, 197, 94, 0.45);
    transform: scale(1.02);
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: rgb(0, 0, 0) !important;
  border-radius: 50%;
  padding: 12px !important;
  width: 60px !important;
  height: 60px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
  border: 2px solid;
}

@media (hover: none) and (pointer: coarse) {
  .swiper-button-next,
  .swiper-button-prev {
    color: greenyellow !important;
    font-weight: 700 !important;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@media (hover: hover) and (pointer: fine) {
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    color: greenyellow !important;
    font-weight: 700 !important;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

/* </--- For Swiper ---> */

/* background: linear-gradient(
      205deg,
      #0a192f 0%,      
      #11401a 25%,     
      #1b5f1a 50%,     
      #0d2b1a 75%,     
      #0a191a 100%     
    );
     */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  color: var(--foreground);

  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
